/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/top-speed');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: 20px/1.2 "Russo One", sans-serif;
 }
 body, ul, li ,a, button, input, textarea, button {
    font: inherit;
}
body {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
button, a {
    /* background: rgb(128, 1, 1); */
    background: rgb(255, 117, 5);
    color: black;
    border-radius: 0.3em;
    padding: 0.5em 0.5em;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0 0 0.3em 0.1em rgba(0,0,0,0.8);
}
h1 {
    font-family: 'Top speed';
    font-size: 3.5em;
    color: rgb(255, 117, 5);
}
a {
    text-decoration: none;
}
button:hover, a:hover {
    background: rgb(211, 117, 5);
    color: rgb(187, 187, 187);
}button:active {
    background: black;
    color: rgb(216, 216, 216);
}
button:disabled {
    cursor: not-allowed;
}
.error {
    color: rgb(170, 0, 0);
}
.wrapper {
    min-height: 85vh;
}
.special {
    font-family: 'Top speed';
}
.footer {
    display: flex;
    gap: 2em;
    margin-top: auto;
    padding: 2em;
}
@media (max-width:600px){
    body {
        font-size: 14px;
        background-color: rgb(161, 161, 161);
    }
    input {
        background-color: rgb(216, 216, 216);
    }
    .wrapper {
        align-items: center;
        justify-content: center;
        min-height: 85vh;
    }

}
@media (max-width:250px){
    body {
        font-size: 12px;
        background-color: rgb(161, 161, 161);
    }
    input {
        background-color: rgb(216, 216, 216);
    }

}
